.jobIndexTableStyle, .jobIndexTableStyle2, table{
    width: 1200px !important;
}

@media screen and (max-width: 1500px) {
    .jobIndexTableStyle,.jobIndexTableStyle2, table{
        width: 1000px !important;
    }
  }
  @media screen and (max-width: 1275px) {
    .jobIndexTableStyle,.jobIndexTableStyle2, table{
        width: 900px !important;
    }
  }
  @media screen and (max-width: 1175px) {
    .jobIndexTableStyle,.jobIndexTableStyle2, table{
        width: 750px !important;
    }
  }
  @media screen and (max-width: 1020px) {
    .jobIndexTableStyle,.jobIndexTableStyle2, table{
        width: 600px !important;
    }
  }
  @media screen and (max-width: 950px) {
    .jobIndexTableStyle,.jobIndexTableStyle2, table{
        width: auto !important;
    }
  }